
.content_01box {
	height:630px;
	width:100%;
	background: url(../img/bg10.jpg)center center;
	overflow: hidden;
}
.content_01 {
	position: relative;
}
.scroll {
	position: absolute;
	top: 70px;
	left: -95px;;
}
.scroll.fixed {
	position: fixed;
	top: 100px;
	left: 255px;
}
.scroll p{
	font-size: 14px !important;
}

.content_01 h3 {
	font-size: 45px;
	color: #ffffff;
	text-align: center;
	margin: 81px 0 30px 0;
}
.content_01 p {
	font-size: 18px;
	color: #ffffff;
	line-height: 28px;
	margin-bottom: 40px;
}
.swiper_01  div img{
	float: left;
}


.swiper-wrapper{
	transition-timing-function:linear !important;
}

.content_02box {
	height: 424px;
	background: url(../img/bg11.jpg);
	padding-top: 80px;
}
.content_02_l {
	width: 608px;
	position: relative;
	float: left;
}

.content_02_l ul li {
	float: left;
}
.content_02_l i,.content_02_l em {
	display:inline-block;
	float: left;
}
.content_02_l  img{
	display: block;
}
.content_02_l i{
	float: right;
}
.content_02_l h6{
	position: absolute;
	left: 227px;
	bottom: 35px;
}
.content_02_l h6 div {
	float: left;
	width: 77px;
	height: 64px;
}
.content_02_l .swiper-button-prev{
	background: url(../img/p21.png);
	left: 0;
}
.content_02_l .swiper-button-next{
	background: url(../img/p22.png);
	right: -175px;
}
.content_02_r {
	width: 570px;
	float: left;
	margin-left: 22px;
}
.content_02_r h6{
	font-size: 45px;
	color: #213e72;
}
.content_02_r h6 i {
	padding-bottom: 29px;
	border-bottom: 2px solid #213e72;
	display: inline-block;
}
.content_02_r ul {
	margin-top: 22px;
}
.content_02_r ul li {
	margin-top: 13px;
	font-size: 16px;
	color: #213e72;
}
.content_03box {
	height: 463px;
	background: url(../img/bg12.jpg)center center;
	text-align: center;
}
.content_03 h3 {
	font-size: 45px;
	padding-top: 29px;
	color: #ffffff;
}
.content_03 p {
	font-size: 18px;
	color: #ffffff;
	margin: 31px 0 39px 0;
}
.content_04box {
	height: 652px;
	background: url(../img/bg13.jpg)center center;
}
.content_04 {
	position: relative;
	margin-bottom: 67px;
}
.content_04 h3 {
	font-size: 45px;
	padding-top: 54px;
	color: #ffffff;
	text-align: center;
}
.content_04_l {
	width: 697px;
	height: 388px;
	background: url(../img/bg14.jpg)center center;
	margin-top: 91px;
}
.content_04_l img {
	display: block;
	padding: 188px 23px 0 13px;
	float: left;
}

.content_04_l div h6 {
	font-size: 42px;
	color: #213e72;
	padding-top: 65px;
}
.content_04_l div h6  i {
	padding-bottom: 27px;
	border-bottom: 2px solid #213e72;
}
.content_04_l div p {
	font-size: 20px;
	color: #333333;
	margin-top: 60px;
	line-height: 38px;
}
.content_04_l div p i {
	color: #213e72;
}
.content_04_r {
	width: 697px;
	height: 388px;
	position: absolute;
	top: 135px;
	right: 0;
}
.swiper_04 .swiper-pagination{
	position: absolute;
	bottom: 20px;
	right: 20px;
}
.swiper_04 .swiper-pagination-bullet{
	width: 10px;
	height: 10px;
	margin-left: 6px;
}


.Userbox {
	height: 711px;
	background: url(../img/bg32.jpg)center center;
}
.User {
	padding-top: 148px;
}
.yunf {
	width: 334px;
	height: 181px;
	border-radius: 10px;
	background: url(../img/bg33.png)center center #e8f5ff;
	float: left;
	margin:0 4px 0 0;
}
.yunf p {
	padding: 60px 0 18px 191px;
	font-size: 16px;
	color: #c93d69;
	line-height: 24px;
}
.yunf a{
	display: block;
	width: 84px;
	line-height: 22px;
	background-color: #ffffff;
	border-radius: 10px;
	border: solid 1px #c93d69;
	color: #c93d69;
	margin-left: 192px;
	text-align: center;
}
.baby {
	width: 257px;
	height: 181px;
	background: url(../img/bg34.png)center center;
	border-radius: 10px;
	float: left;
}
.baby p {
	padding: 62px 0 16px 154px;
	font-size: 16px;
	color: #073b8b;
	line-height: 24px;
}
.baby a{
	display: block;
	width: 84px;
	line-height: 22px;
	background-color: #ffffff;
	border-radius: 10px;
	border: solid 1px #073b8b;
	color: #073b8b;
	margin-left: 153px;
	text-align: center;
}
.User ul li{
	float: left;
	width: 183px;
	height: 191px;
	background-color: #e8f5ff;
	border-radius: 10px;
	margin: 5px 6px 0 0;
	text-align: center;
}
.User ul li:last-child {
	margin-right: 0px;
}
.User ul li b {
	display: block;
	height: 128px;

}
.User ul li b img {
	margin-top: 24px;
}
.User ul li p {
	font-size: 16px;
	color: #0072c6;
	margin-bottom: 11px;
}
.User ul li a {
	display: block;
	width: 84px;
	line-height: 22px;
	background-color: #ffffff;
	border-radius: 10px;
	border: solid 1px #0072c6;
	color: #0072c6;
	margin:  0 auto;
}
.User_r {
	float: left;
	margin: 49px 0 0 141px;
	width: 404px;
}
.User_r b{
	display: block;
	width: 91px;
	height: 91px;
	border-radius:50%;
	overflow: hidden; 
	margin: 0 auto;
}
.User_r b img {
	margin: 0 auto;
	line-height: 91px;
}
.User_r a{
	display: block;
	width: 404px;
	line-height: 64px;
	background-color: #0a3474;
	border-radius: 32px;
	text-align: center;
	font-size: 24px;
	color: #ffffff;
	margin: 44px 0 46px 0;
}
.User_r ol li {
	float: left;
	border-right: 1px solid #fff;
	padding: 0 15px;
	height: 40px;
}
.User_r ol li:last-child {
	border-right: none;
}
.User_r ol li p {
	font-size: 10px;
	color: #333333;
}
.swiper_01 .swiper-button-prev{
	width: 77px;
	height: 64px;
	background: url(../img/p21.png);
	left: 0;
}
.swiper_01 .swiper-button-next {
	width: 77px;
	height: 64px;
	background: url(../img/p22.png);
	right: 0;
}
.swiper_03 .swiper-button-prev{
	width: 77px;
	height: 64px;
	background: url(../img/p21.png);
	left: 0;
}
.swiper_03 .swiper-button-next {
	width: 77px;
	height: 64px;
	background: url(../img/p22.png);
	right: 0;
}
.swiper_04 .swiper-pagination {
	left: 290px !important;
}
.swiper_04 .swiper-pagination-bullet{
	width: 10px;
	height: 10px;
	background-color: #ffffff;
	opacity: 0.5;
}
.swiper_04 .swiper-pagination-bullet-active{
	opacity: 1;
}
