 @charset "utf-8";
/*清除浮动*/
@charset "utf-8";
/* reset */
html { height: 100% }
body { min-height: 100%; min-width:1200px;}
body { _height: 100% }
body, div, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, iframe, pre, code, fieldset, legend, form, input, select, textarea, button, p, blockquote, th, td, figure { margin: 0; padding: 0 }
body, div, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, iframe, pre, code, fieldset, legend, form, p, blockquote, figure, header, footer, nav, article, section, aside, address, figcaption { *zoom: 1 }
li { list-style-type: none }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight:normal;}
iframe, frame, fieldset, img { border: 0 none }
img { vertical-align: top }
input[type=button], input[type=submit], input[type=reset] { cursor: pointer }
button { cursor: pointer }
input[type=text], input[type=password], input[type=file], textarea { -webkit-border-radius: 0; -webkit-appearance: normal }
input[type=search] { -webkit-box-sizing: content-box; -moz-box-sizing: content-box; -ms-box-sizing: content-box; -o-box-sizing: content-box; box-sizing: content-box }
textarea { overflow: auto; resize: none }
blockquote, q { quotes: none }
blockquote:before, blockquote:after, q:before, q:after { content: ""; content: none }
caption, th { text-align: left }
th { font-weight: normal }
em, cite, address,i { font-style: normal }
sup { vertical-align: text-top }
sub { vertical-align: text-bottom }
body, input, select, button, textarea { font-size: 14px; font-family:"微软雅黑",arial,"\5b8b\4f53";  }
body { line-height: 1.17 }
a { text-decoration: none }
a { blr:expression(this.onFocus=this.blur()) }
a * { *cursor: pointer }
:focus { outline: none }

.edit_con_original{ line-height:1.5; padding:20px; color:#333;}
.edit_con_original li, .edit-con-original li { list-style-type: disc }
.edit_con_original h1, .edit-con-original h1 { font-size: 2em }
.edit_con_original h2, .edit-con-original h2 { font-size: 1.5em }
.edit_con_original h3, .edit-con-original h3 { font-size: 1.17em }
.edit_con_original h4, .edit-con-original h4 { font-size: 1em }
.edit_con_original h5, .edit-con-original h5 { font-size: 0.83em }
.edit_con_original h6, .edit-con-original h6 { font-size: 0.67em }
.edit_con_original em, .edit-con-original em { font-style: italic }
.edit_con_original cite, .edit-con-original cite { font-style: italic }
.edit_con_original address, .edit-con-original address { font-style: italic;}
.edit_con_original i, .edit-con-original i { font-style: italic }

.fixed:after, .clearfix:after, .cf:after, .header:after, .main:after, .footer:after { content: " "; display: block; clear: both; height: 0; overflow: hidden }
.fixed, .clearfix, .cf, .header, .main, .footer { *zoom: 1 }
.clear, .cl { display: block!important; float: none!important; clear: both; width: auto!important; max-width: none!important; min-width: 0!important; max-height: none!important; min-height: 0!important; overflow: hidden; margin: 0!important; padding: 0!important; border: 0 none!important; font-size: 0!important; line-height: 0!important }            
.lt9 .t-shadow { filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr="#99000000", EndColorStr="#99000000") }
.t-shadow {background: rgba(0, 0, 0, .5)}

.w1200 {
    margin: 0 auto;
    width: 1200px;
}
.lf {float: left;}
.rf {float: right;}


header{
    width: 100%;
	height: 95px;
    background: url(../img/bg01.png) no-repeat;
}

header .w1200 {
    
}
header .w1200 .navb {
    border: none;
    float: left;
    margin: 36px 15px 0 0;
}
header .w1200 h1 {
    margin: 18px 0;
    float: left;

}
header .w1200 ul {
    float: right;
    margin-top: 32px;
}
header .w1200 ul li{
    float: left;
    margin:5px 0 0 6px;
    position: relative;
}
header .w1200 ul li:last-child {
    width: 100px;
	height: 32px;
	background-color: #313131;
    border-radius: 16px;
    color: #fff;
    margin-top: 0;
    padding: 0 3px;
}
header .w1200 ul li:last-child a {
    font-size: 12px;
    color: #fff;
    line-height: 32px;
    margin: 0 4px;
}
header .w1200 ul li div {
    position: absolute;
    left: -8px;
    top: 27px;
    display:none;
}
.phonec {
    width: 104px;
    background:url(../img/bg02.png);
    height: 52px;
    color: #333333;
}
.phonec p {
    padding-top: 13px;
    text-align: center;
    line-height: 18px;
}
header .w1200 ul li:hover div {
    display: block;
}
.banners {
    height: 450px;
    overflow: hidden;
}
.banners a {
    display: block;
}
.banners a img {
    width: 100%;
    height: 450px;
}
.nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 485px;
    height: 100%;
    background: #fff;
    display: none;
    z-index: 999;
}
.nav b {
    padding: 18px 0 18px 210px;
    display: block;
    border-bottom: 2px solid #0d3575;
}
.nav ol{
    margin: 50px 45px;
}
.nav ol li {
    margin-bottom: 25px;
}
.nav ol li h6 a {
    font-size: 18px;
    color: #333333;
}
.nav ol li h6 i{
    float: right;
}
.nav ol li h6 em{
    float: right;
    display: none;
}
.nav ol li h6 i.open {
    transform:rotate(180deg);
    -ms-transform:rotate(180deg);     /* IE 9 */
    -moz-transform:rotate(180deg);    /* Firefox */
    -webkit-transform:rotate(180deg); /* Safari 和 Chrome */
    -o-transform:rotate(180deg);  /* Opera */
}

.nav ol li div {
    width: 300px;
    margin-left: 20px;
    display: none;
}
.nav ol li div p {
    float: left;
    width: 50%;
    margin-top: 30px;
}
.nav ol li div p a {
    font-size: 12px;
    color: #666666;
}
.nav ol li div p img{
    display: block;
    margin-bottom: 15px;
}
header ul li a{
    position: relative;
}
.dlw {
    width: 140px;
	height: 90px;
	background-color: #213e72;
    padding: 21px 8px;
    line-height: 24px;
    z-index: 99;
}
.hym {
    position: absolute;
    display: none;
    top: 27px;
    left: -25px;
    z-index: 99;
}
.scroll {
    width: 75px;
    background-color: #ffffff;
    position: fixed;
    top: 700px;
    left: 265px;
    z-index: 99;
}
.scroll ul li {
    height: 80px;
    text-align: center;
}
.scroll ul li a p {
    color: #666666;
    padding-top: 21px;
}
.scroll ul li.open {
    background-color: #213e72;
}
.scroll ul li.open p {
    color: #fff;
}


footer {
    background-color: #213e72;
}

.joinbox {
    border-bottom: 1px solid #b2d1e9;
    height: 93px;
}
.joinbox div p{
    font-size: 24px;
    color: #ffffff;
    float: left;
    line-height: 93px;
}
.joinbox div ul {
    float: right;
}
.joinbox div ul li{
    float: left;
    margin-left: 9px;
    margin-top: 27px;
}
.joinbox div ul li input {
    width: 253px;
    height: 40px;
    background-color: #ffffff;
    border: solid 1px #e5e5e5;
    text-indent: 10px;
    font-size: 16px;
}
.joinbox div ul li button{
    width: 293px;
    height: 40px;
    background-color: #b2d1e9;
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    line-height: 40px;
    border:none;
}
.link {
    font-size: 16px;
    padding: 21px 0 19px 0;
    border-bottom: 1px solid #2f4e86;
}
.link p {
    float: left;
    color: #ffffff;
    margin-right: 12px;
}
.link a {
    color: #b7b7b7;
    margin-right: 30px;
}
.msg {
    border-top: 1px solid #1b3769;
    padding-bottom: 20px;
    border-bottom: 1px solid #2f4e86;
}
.logod {
    margin: 15px 32px 0 0;
    float: left;
}
.aboutus_1 {
    width: 176px;
    float: left;
    margin-top: 46px;
    padding-right: 58px;
}
.aboutus_1 h6,.aboutus_2 h6 {
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 16px;
}
.aboutus_1 a,.aboutus_2 a {
    display: block;
    font-size: 16px;
    color: #b7b7b7;
    margin-bottom: 9px;
}
.aboutus_2 {
    float: left;
    width: 296px;
    margin-top: 44px; 
    padding: 0 63px 2px 52px;
    text-align: left;
}
.aboutus_2 a {
    float: left;
    width: 50%;
}
.dqr {
    float: right;
    margin-top: 29px;
    padding-left: 13px;
}
.dqr ul li{
    width: 115px;
    text-align: center;
    float: left;
    margin-left: 45px;
}
.dqr ul li p {
    font-size: 16px;
    color: #cccccc;
    margin-top: 10px;
}
.address {
    border-top: 1px solid #1b3769;
    padding: 20px 0 17px 0;
}
.address p {
    text-align: center;
    color: #b7b7b7;
}
.address p i {
    margin: 0 8px;
} 
.to-top {
    position: fixed;
    right: 360px;
    bottom: 376px;
    z-index: 999;
    display: none;
}


.swiper_4 {
    width: 1200px;
    height: 569px;
    background: url(../img/bg08.png)center center;
    border-radius: 40px;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 6px 8px #666666;
}
.swiper_4 .gallery-top{
    width: 1031px;
    height: 100%;
    float: left;
}
.swiper_4  .gallery-thumbs {
    margin-top: 17px;
}
.swiper_4 .swiper-button-prev{
    display: none;
}
.swiper_4 .swiper-button-next{
    width: 72px;
    height: 72px;
    background: url(../img/bg42.png) !important;
    position: absolute;
    right: 137px;
    top: 450px;
    z-index: 999;
}