footer {
	background: #1b1b1b;
}
.joinbox .w1200 ul li button{
	background-color: #0a3474;
}
.link{
	border-bottom: 1px solid #313131;
}
.msg {
	border-top: 1px solid #0e0e0e;
	border-bottom: 1px solid #313131;
}
.address{
	border-top: 1px solid #0e0e0e;
}
.banners_1 {
	height: 602px;
	overflow: hidden;
	width: 100%;
}
.banners_1 a img {
	height: 604px;
	width: 100%;
}
.scroll {
	width: 75px;
	background-color: #ffffff;
	position: fixed;
	top: 500px;
	left: 265px;
	z-index: 99;
}
.scroll ul li {
	height: 80px;
	text-align: center;
}
.scroll ul li a p {
	color: #666666;
	padding-top: 21px;
}
.scroll ul li.open {
	background-color: #213e72;
}
.scroll ul li.open p {
	color: #fff;
}
.product_01 {
	height: 1666px;
	background: url(../img/bg15.jpg)center center;
	padding-top: 80px;
}
.product_01 div {
	height: 1568px;
	width: 1160px;
	background: url(../img/bg16.jpg)center center;
	padding: 21px 20px 0 20px;
}
.product_01 ul {
	margin-bottom: 20px;
}
.product_01 ul li {
	width: 259px;
	height: 371px;
	background-color: #c5ddef;
	border: solid 1px #c5ddef;
	text-align: center;
	float: left;
	margin-right: 38px;
}
.product_01 ul li:last-child {
	margin-right: 0;
}
.product_01 ul li b {
	display: block;
	width: 150px;
	margin: 31px auto;
}
.product_01 ul li p {
	font-size: 18px;
	color: #ffffff;
	margin-bottom: 13px;
}
.product_01 ul li:hover {
	border: solid 1px #ffffff;
}
.product_02box {
	height: 640px;
	background: url(../img/bg17.jpg)center center;
}
.product_02 {
	padding-top: 114px;
}
.swiper_01 {
	width: 369px;
	height: 478px;
	margin:0 132px 0 80px;
	float: left;
}
#gallery img {
	width: 317px;
	display: block;
	margin: 0 auto;
	margin-bottom: 27px;
}
#thumbs .swiper-slide {
	width: 84px;
	height: 84px;
	background-color: #fae9f1;
	border-radius:50%; 
}
#thumbs .swiper-slide.active{
	background-color: #e87ea2;
}
#thumbs .swiper-slide img{
	margin: 15px 24px;
}
.product_02_r {
	width: 540px;
	float: left;
}
.product_02_rt h5{
	font-size: 36px;
	color: #c93d69;
}
.product_02_rt h6 {
	font-size: 24px;
	color: #c93d69;
	margin: 15px 0 17px 0;
}
.product_02_rt p {
	font-size: 16px;
	color: #666666;
	line-height: 30px;
	padding-bottom: 25px;
}
.product_02_rt {
	border-bottom: 2px solid #fff0f6;
}
.product_02_rb  {
	color: #666666;
	margin-top: 25px;
	padding-bottom: 25px;
	border-bottom: 2px solid #fff0f6;
}
.product_02_rb em i{
	font-size: 28px;
	color: #c93d69;
}
.product_02_rb p {
	margin-top: 10px;
	margin-right: 150px;
}
.product_02_r ul {
	margin-top: 25px;
}
.product_02_r ul li{
	float: left;
	margin-right: 9px;
}
.product_03box {
	background: #f7dbe7;
	padding-bottom: 80px;
}
.product_03 {
	width: 1080px;
	margin: 0 auto;
}
.product_03 p{
	line-height: 50px;
	background: url(../img/bg19.jpg);
	font-size: 18px;
	color: #333333;
	text-indent: 23px;
}
.blue {
	background: url(../img/bg20.jpg);
}
.blue #thumbs .swiper-slide{
	background-color: #c0dbf2;
}
.blue #thumbs .swiper-slide.active {
	background-color: #679ed4;
}
.blue .product_02_rt h5{
	color: #083983;
}
.blue .product_02_rt h6 {
	color: #083983;
}
.blue .product_02_rt p i{
	color: #333333;
}
.blue .product_02_rb em i {
	color: #083983;
}
.blue .product_02_rb p {
	margin-right: 96px;
}
.product_03box_blue{
	background: #b5d5f0;
}
.blue2 p {
	margin-right: 141px;
}
.pink {
	background: url(../img/bg21.jpg);
}
.pink #thumbs .swiper-slide{
	background-color: #fef1ec;
}
.pink #thumbs .swiper-slide.active {
	background-color: #f9ccb9;
}
.product_03box_pink {
	background: #fde9e2;
}
